@model FLICHCMUNRE.Models.OneTaiKhoanResult

<div class="" style="margin-left:100px ; color:white">
    <h4 class="text-white">Chi tiết tài khoản</h4>
    <hr />
    <dl class="dl-horizontal d-flex">
        <dt>
            @Html.DisplayName("Tài Khoản: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TK)
        </dd>

        <dt>
            @Html.DisplayName("   Mật Khẩu: ")
        </dt>



        <dd>
            @Html.DisplayFor(model => model.MK)
        </dd>


        <dt>
            @Html.DisplayName("   Vai Trò: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAITRO)
        </dd>

    </dl>
</div>
<p style="margin-left:100px ;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "text-white" }) |
    @Html.ActionLink("Back to List", "QLAdmin", new { @class = "text-white" }, new { @class = "text-white" })
</p>
